# Import, install 라이브러리

In [1]:
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2344 sha256=29a2518c9f63b87dd006ddccf8ac8fbd246afc2419e8ccc4080716985c5575b4
  Stored in directory: /root/.cache/pip/wheels/42/56/cc/4a8bf86613aafd5b7f1b310477667c1fca5c51c3ae4124a003
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn

from IPython.core.display import set_matplotlib_formats
import matplotlib.pyplot as plt
%matplotlib inline
set_matplotlib_formats('retina')
plt.rc('font',family= 'NanumBarunGothic')

# data columns detail

In [3]:
data_info= pd.read_csv('/content/drive/MyDrive/제주도 교통분석/jejudata_info.csv')
print(data_info.shape)
data_info

(24, 2)

                      변수명           변수 설명
0                      id             아이디
1               base_date              날짜
2             day_of_week              요일
3               base_hour             시간대
4             road_in_use          도로사용여부
5              lane_count             차로수
6             road_rating            도로등급
7            multi_linked         중용구간 여부
8            connect_code          연결로 코드
9     maximum_speed_limit          최고속도제한
10      weight_restricted          통과제한하중
11      height_restricted          통과제한높이
12              road_type            도로유형
13         start_latitude        시작지점의 위도
14        start_longitude        시작지점의 경도
15  start_turn_restricted  시작 지점의 회전제한 유무
16           end_latitude        도착지점의 위도
17          end_longitude        도착지점의 경도
18    end_turn_restricted   도작지점의 회전제한 유무
19              road_name             도로명
20        start_node_name           시작지점명
21          end_node_name           도착지점명
22     vehicle_restricted          통과제한차량
23                 target        평균속도(km)

# traffic= train data detail(22 8월 이전 교통정보)

In [4]:
df_trf= pd.read_csv('/content/drive/MyDrive/제주도 교통분석/jeju_train.csv')
print(df_trf.shape)
df_trf

(4701217, 23)

,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target
0,TRAIN_0000000,20220623,목,17,1,106,지방도1112호선,0,0,60.0,...,3,제3교래교,33.427747,126.662612,없음,제3교래교,33.427749,126.662335,없음,52.0
1,TRAIN_0000001,20220728,목,21,2,103,일반국도11호선,0,0,60.0,...,0,광양사거리,33.500730,126.529107,있음,KAL사거리,33.504811,126.526240,없음,30.0
2,TRAIN_0000002,20211010,일,7,2,103,일반국도16호선,0,0,80.0,...,0,창고천교,33.279145,126.368598,없음,상창육교,33.280072,126.362147,없음,61.0
3,TRAIN_0000003,20220311,금,13,2,107,태평로,0,0,50.0,...,0,남양리조트,33.246081,126.567204,없음,서현주택,33.245565,126.566228,없음,20.0
4,TRAIN_0000004,20211005,화,8,2,103,일반국도12호선,0,0,80.0,...,0,애월샷시,33.462214,126.326551,없음,애월입구,33.462677,126.330152,없음,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701212,TRAIN_4701212,20211104,목,16,1,107,-,0,0,50.0,...,0,대림사거리,33.422145,126.278125,없음,금덕해운,33.420955,126.273750,없음,20.0
4701213,TRAIN_4701213,20220331,목,2,2,107,-,0,0,80.0,...,3,광삼교,33.472505,126.424368,없음,광삼교,33.472525,126.424890,없음,65.0
4701214,TRAIN_4701214,20220613,월,22,2,103,일반국도12호선,0,0,60.0,...,0,고성교차로,33.447183,126.912579,없음,성산교차로,33.444121,126.912948,없음,30.0
4701215,TRAIN_4701215,20211020,수,2,2,103,일반국도95호선,0,0,80.0,...,0,제6광령교,33.443596,126.431817,없음,관광대학입구,33.444996,126.433332,없음,73.0
4701216,TRAIN_4701216,20211019,화,6,2,107,경찰로,0,0,60.0,...,0,서귀포경찰서,33.256785,126.508940,없음,시민공원,33.257130,126.510364,없음,35.0

In [5]:
df_trf.isnull().sum()

id                       0
base_date                0
day_of_week              0
base_hour                0
lane_count               0
road_rating              0
road_name                0
multi_linked             0
connect_code             0
maximum_speed_limit      0
vehicle_restricted       0
weight_restricted        0
height_restricted        0
road_type                0
start_node_name          0
start_latitude           0
start_longitude          0
start_turn_restricted    0
end_node_name            0
end_latitude             0
end_longitude            0
end_turn_restricted      0
target                   0
dtype: int64

In [6]:
df_trf.describe()

,base_date,base_hour,lane_count,road_rating,multi_linked,connect_code,maximum_speed_limit,vehicle_restricted,weight_restricted,height_restricted,road_type,start_latitude,start_longitude,end_latitude,end_longitude,target
count,4.701217e+06,4.701217e+06,4.701217e+06,4.701217e+06,4.701217e+06,4.701217e+06,4.701217e+06,4701217.0,4.701217e+06,4701217.0,4.701217e+06,4.701217e+06,4.701217e+06,4.701217e+06,4.701217e+06,4.701217e+06
mean,2.021672e+07,1.192820e+01,1.836651e+00,1.049585e+02,4.762597e-04,2.660218e-01,6.125329e+01,0.0,5.618742e+03,0.0,6.152237e-01,3.338432e+01,1.265217e+02,3.338432e+01,1.265217e+02,4.278844e+01
std,4.555709e+03,6.722092e+00,6.877513e-01,1.840107e+00,2.181818e-02,5.227760e+00,1.213354e+01,0.0,1.395343e+04,0.0,1.211268e+00,1.012015e-01,1.563657e-01,1.011948e-01,1.563519e-01,1.595443e+01
min,2.021090e+07,0.000000e+00,1.000000e+00,1.030000e+02,0.000000e+00,0.000000e+00,3.000000e+01,0.0,0.000000e+00,0.0,0.000000e+00,3.324343e+01,1.261826e+02,3.324343e+01,1.261826e+02,1.000000e+00
25%,2.021110e+07,6.000000e+00,1.000000e+00,1.030000e+02,0.000000e+00,0.000000e+00,5.000000e+01,0.0,0.000000e+00,0.0,0.000000e+00,3.326422e+01,1.264232e+02,3.326422e+01,1.264232e+02,3.000000e+01
50%,2.022013e+07,1.200000e+01,2.000000e+00,1.060000e+02,0.000000e+00,0.000000e+00,6.000000e+01,0.0,0.000000e+00,0.0,0.000000e+00,3.341257e+01,1.265112e+02,3.341257e+01,1.265112e+02,4.300000e+01
75%,2.022050e+07,1.800000e+01,2.000000e+00,1.070000e+02,0.000000e+00,0.000000e+00,7.000000e+01,0.0,0.000000e+00,0.0,0.000000e+00,3.347804e+01,1.265840e+02,3.347804e+01,1.265840e+02,5.400000e+01
max,2.022073e+07,2.300000e+01,3.000000e+00,1.070000e+02,1.000000e+00,1.030000e+02,8.000000e+01,0.0,5.000000e+04,0.0,3.000000e+00,3.355608e+01,1.269309e+02,3.355608e+01,1.269309e+02,1.130000e+02

In [7]:
df_trf = df_trf.drop(['id'],axis= 1)

In [8]:
df_trf.shape

(4701217, 22)

In [9]:
str_col = df_trf.columns # for문으로 columns 정보 출력

In [10]:
for col in str_col:
  print(df_trf[col].value_counts().head())
  print('-----------------')

20220603    20544
20220504    20460
20220602    20441
20220626    20429
20220609    20415
Name: base_date, dtype: int64
-----------------
금    684024
수    675583
목    674070
일    673632
토    669767
Name: day_of_week, dtype: int64
-----------------
15    214541
13    214297
14    214182
12    211833
19    209870
Name: base_hour, dtype: int64
-----------------
2    2352092
1    1558531
3     790594
Name: lane_count, dtype: int64
-----------------
103    2159511
107    1582214
106     959492
Name: road_rating, dtype: int64
-----------------
일반국도12호선    1046092
-            569463
일반국도16호선     554510
일반국도95호선     248181
일반국도11호선     215701
Name: road_name, dtype: int64
-----------------
0    4698978
1       2239
Name: multi_linked, dtype: int64
-----------------
0      4689075
103      12142
Name: connect_code, dtype: int64
-----------------
60.0    1665573
50.0    1103682
70.0     995077
80.0     700334
30.0     229761
Name: maximum_speed_limit, dtype: int64
-----------------
0.0    4701217
Name: vehicle_restricted, dtype: int64
-----------------
0.0        4032874
43200.0     410361
32400.0     239305
50000.0      18677
Name: weight_restricted, dtype: int64
-----------------
0.0    4701217
Name: height_restricted, dtype: int64
-----------------
0    3737117
3     964100
Name: road_type, dtype: int64
-----------------
고성교차로      42169
산신주유소      29386
미수2교       26635
영주교        24381
봉개교 시종점    24290
Name: start_node_name, dtype: int64
-----------------
33.248633    23291
33.435941    20775
33.465863    18137
33.507349    18084
33.500330    18076
Name: start_latitude, dtype: int64
-----------------
126.567766    23291
126.736249    20775
126.456384    18137
126.556173    18084
126.505998    18076
Name: start_longitude, dtype: int64
-----------------
없음    4239701
있음     461516
Name: start_turn_restricted, dtype: int64
-----------------
고성교차로    42265
산신주유소    29202
구엄교      27510
미수2교     26621
영주교      24370
Name: end_node_name, dtype: int64
-----------------
33.248633    23126
33.435941    20791
33.465863    18168
33.500330    18126
33.507349    18083
Name: end_latitude, dtype: int64
-----------------
126.567766    23126
126.736249    20791
126.456384    18168
126.505998    18126
126.556173    18083
Name: end_longitude, dtype: int64
-----------------
없음    4239599
있음     461618
Name: end_turn_restricted, dtype: int64
-----------------
48.0    112044
49.0    110244
50.0    108822
54.0    108040
51.0    107347
Name: target, dtype: int64
-----------------

# 공휴일 정보 추가

In [11]:
!pip install pytimekr

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pytimekr
  Downloading pytimekr-0.1.0.tar.gz (7.3 kB)
Collecting lunardate>=0.1.5
  Downloading lunardate-0.2.0-py3-none-any.whl (5.6 kB)
Building wheels for collected packages: pytimekr
  Building wheel for pytimekr (setup.py) ... done
  Created wheel for pytimekr: filename=pytimekr-0.1.0-py3-none-any.whl size=7941 sha256=cd1b1962398c44307e68e6528422098ee12be139e21b4edd78cd030c8567d219
  Stored in directory: /root/.cache/pip/wheels/7c/54/31/d099bce210ce51c45eeb97e149699dedc66c78eb84c01be9c2
Successfully built pytimekr
Installing collected packages: lunardate, pytimekr
Successfully installed lunardate-0.2.0 pytimekr-0.1.0

In [12]:
from pytimekr import pytimekr
import re

In [45]:

holi = pytimekr.holidays(year=2021)
for i in pytimekr.holidays(year=2022):
  holi.append(i)
for i in range(len(holi)):
  tem= re.sub('-',"",str(holi[i]))
  holi[i]= int(tem)

In [46]:
holi= list(map(int,holi))

In [47]:
'''
holiday=[]# 1인 경우 빨간날
for i in df_trf.index:
  if df_trf['base_date'][i] in holi:
    holiday.append(1)
  else: holiday.append(0)
holiday_tst=[]
for i in df_tst.index:
  if int(re.sub('-',"",df_tst['base_date'][i])) in holi:
    holiday_tst.append(1)
  else: holiday_tst.append(0)
'''

In [48]:
#holiday= pd.DataFrame(holiday)
#holiday_tst= pd.DataFrame(holiday_tst)

In [51]:
#holiday.to_csv('holiday.csv')
#holiday_tst.to_csv('holiday_tst.csv')

In [18]:
holiday = pd.read_csv('/content/drive/MyDrive/제주도 교통분석/holiday.csv',index_col= 0)

In [52]:
holiday_tst = pd.read_csv('/content/drive/MyDrive/제주도 교통분석/holiday_tst.csv', index_col= 0)

In [53]:
holiday.columns= ['holiday']
holiday_tst.columns= ['holiday']

In [20]:
holiday

         holiday
0              0
1              0
2              0
3              0
4              0
...          ...
4701212        0
4701213        0
4701214        0
4701215        0
4701216        0

[4701217 rows x 1 columns]

# 공항이용량 데이터 추가

In [21]:
!pip install selenium

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting selenium
  Downloading selenium-4.6.1-py3-none-any.whl (6.0 MB)
     |████████████████████████████████| 6.0 MB 32.1 MB/s
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: certifi>=2021.10.8 in /usr/local/lib/python3.7/dist-packages (from selenium) (2022.9.24)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
     |████████████████████████████████| 384 kB 63.9 MB/s
Collecting urllib3[socks]~=1.26
  Downloading urllib3-1.26.13-py2.py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 53.7 MB/s
Collecting sniffio
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (22.1.0)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.10)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.0.4-py3-none-any.whl (14 kB)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 7.4 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from h11<1,>=0.9.0->wsproto>=0.14->trio-websocket~=0.9->selenium) (4.1.1)
Installing collected packages: sniffio, outcome, h11, exceptiongroup, async-generator, wsproto, urllib3, trio, trio-websocket, selenium
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.13 which is incompatible.
Successfully installed async-generator-1.10 exceptiongroup-1.0.4 h11-0.14.0 outcome-1.2.0 selenium-4.6.1 sniffio-1.3.0 trio-0.22.0 trio-websocket-0.9.2 urllib3-1.26.13 wsproto-1.2.0

In [22]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
set_matplotlib_formats('retina')
from selenium import webdriver
import requests
from bs4 import BeautifulSoup

/usr/local/lib/python3.7/dist-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.13) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [23]:
def _airport_pass(date): #해당 날짜 제주공항 출발승객 
  url= 'http://openapi.airport.co.kr/service/rest/dailyExpectPassenger/dailyExpectPassenger'
  Format= {'schDate': date, 'schAirport': 'CJU'}
  key = {'ServiceKey': 'WDjvIi49W9Rcs8b04YaCpC9oqYEQ/iIaIv4TbCoUaz/pkJoPQiFcPpHywc+8TCSPpKjHRGH9eDZWjvTHovlCMA=='}

  response= requests.get(url, params=Format,headers= key).text
  res= BeautifulSoup(response,"lxml").find_all("item")
  passenger=[]
  for i in res: 
    passenger.append(i.find('pct').get_text())
  pasum= 0
  for i in passenger:
    pasum += int(i)
  return pasum

In [85]:
calendar_for_air=[]
month = {1:31, 2:28, 3:31, 4:30, 5:31, 6:30, 7:31, 8:31, 9:30, 10:31, 11:30, 12:31}

for y in range(2021,2023):
  for m in range(1,13):
    for d in range(1,month[m]+1):
      if d < 10: day = '0' + str(d)
      else: day = str(d)
      if m < 10: mon = '0' + str(m)
      else: mon = str(m)
      date= int(str(y)+ mon+ day)
      calendar_for_air.append(date)

airport = pd.DataFrame(calendar_for_air)
airport.columns= ['date']
airport['passenger']= np.NaN
airport.shape

(730, 2)

In [90]:
_airport_pass(20221231)

0

In [87]:
'''
for i in airport.index:
  p = _airport_pass(airport['date'][i])
  airport.loc[i,'passenger'] = p
'''

In [88]:
airport.to_csv('airport.csv')

In [40]:
airport = pd.read_csv('/content/drive/MyDrive/제주도 교통분석/airport.csv', index_col= 0)

In [89]:
airport

         date  passenger
0    20210101     8340.0
1    20210102     4612.0
2    20210103     5874.0
3    20210104     8312.0
4    20210105     5241.0
..        ...        ...
725  20221227        0.0
726  20221228        0.0
727  20221229        0.0
728  20221230        0.0
729  20221231        0.0

[730 rows x 2 columns]

# 진행사항 병합

In [42]:
df_trf= pd.read_csv('/content/drive/MyDrive/제주도 교통분석/jeju_train_2.csv', index_col= 0)

In [43]:
df_tst= pd.read_csv('/content/drive/MyDrive/제주도 교통분석/jeju_test_2.csv', index_col= 0)

In [54]:
df_trf['holiday']= holiday

In [55]:
df_tst['holiday']= holiday_tst

In [56]:
df_trf['airport_depart_jeju']= np.NaN
df_tst['airport_depart_jeju']= np.NaN
#해당 날짜에 제주 공항을 떠난 승객 수 (단위 : 100명)

In [92]:
airport['date'].value_counts()

20210101    1
20220425    1
20220427    1
20220428    1
20220429    1
           ..
20210903    1
20210904    1
20210905    1
20210906    1
20221231    1
Name: date, Length: 730, dtype: int64

In [ ]:
for i in df_trf.index:
  date= int(re.sub('-',"",df_trf['base_date'][i]))
  df_trf.loc[i,'airport_depart_jeju'] = int(airport.loc[airport['date']==date,'passenger'])
for i in df_tst.index:
  date= int(re.sub('-',"",df_tst['base_date'][i]))
  df_tst.loc[i,'airport_depart_jeju'] = int(airport.loc[airport['date']==date,'passenger'])

In [ ]:
df_trf.to_csv('jeju_train.csv')
df_tst.to_csv('jeju_test.csv')

# Test data detail

In [30]:
test= pd.read_csv('/content/drive/MyDrive/제주도 교통분석/jeju_test.csv')
print(test.shape)
test.head()

(291241, 22)

,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,height_restricted,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted
0,TEST_000000,20220825,목,17,3,107,연삼로,0,0,70.0,...,0.0,0,산지2교,33.499427,126.541298,없음,제주은행사거리,33.500772,126.543837,있음
1,TEST_000001,20220809,화,12,2,103,일반국도12호선,0,0,70.0,...,0.0,3,중문입구,33.258507,126.427003,없음,관광단지입구,33.258119,126.415840,없음
2,TEST_000002,20220805,금,2,1,103,일반국도16호선,0,0,60.0,...,0.0,0,도순3교,33.258960,126.476508,없음,도순2교,33.259206,126.474687,없음
3,TEST_000003,20220818,목,23,3,103,일반국도11호선,0,0,70.0,...,0.0,0,아라주공아파트,33.473494,126.545647,없음,인다마을,33.471061,126.545467,없음
4,TEST_000004,20220810,수,17,3,106,번영로,0,0,70.0,...,0.0,0,부록교 시종점,33.501477,126.569223,없음,봉개교 시종점,33.496863,126.581230,없음

In [31]:
test.columns

Index(['id', 'base_date', 'day_of_week', 'base_hour', 'lane_count',
       'road_rating', 'road_name', 'multi_linked', 'connect_code',
       'maximum_speed_limit', 'vehicle_restricted', 'weight_restricted',
       'height_restricted', 'road_type', 'start_node_name', 'start_latitude',
       'start_longitude', 'start_turn_restricted', 'end_node_name',
       'end_latitude', 'end_longitude', 'end_turn_restricted'],
      dtype='object')

In [32]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291241 entries, 0 to 291240
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     291241 non-null  object
 1   base_date              291241 non-null  int64
 2   day_of_week            291241 non-null  object
 3   base_hour              291241 non-null  int64
 4   lane_count             291241 non-null  int64
 5   road_rating            291241 non-null  int64
 6   road_name              291241 non-null  object
 7   multi_linked           291241 non-null  int64
 8   connect_code           291241 non-null  int64
 9   maximum_speed_limit    291241 non-null  float64
 10  vehicle_restricted     291241 non-null  float64
 11  weight_restricted      291241 non-null  float64
 12  height_restricted      291241 non-null  float64
 13  road_type              291241 non-null  int64
 14  start_node_name        291241 non-null  object
 15  start_latitude         291241 non-null  float64
 16  start_longitude        291241 non-null  float64
 17  start_turn_restricted  291241 non-null  object
 18  end_node_name          291241 non-null  object
 19  end_latitude           291241 non-null  float64
 20  end_longitude          291241 non-null  float64
 21  end_turn_restricted    291241 non-null  object
dtypes: float64(8), int64(7), object(7)
memory usage: 48.9+ MB